*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* in questo primo main ho dato il background color al main invece che a section, dato che il background era
bianco per tutte le sezioni, nel prossimo invece darò il background color alle sezioni dato che varia fra bianco e viola
non troverò quindi il background color nel main .main-due*/

.main-uno{
    background-color:white;
}


header{
    background-color:#0084FD;
    margin-bottom:2.5rem;
}

nav{
    margin:1rem 2rem;
}

/*This below are the logo and the favicon of the nav header*/

.logo{
    width:5rem;
}

.fa-bars{
    font-size:1.5rem;
}


/*This container and this section have the same name for all the files*/
.container{
    padding:3.5rem;
    padding-bottom:0;
    align-items: center;
    text-align:center;
}

.section{
    width:80%;
    margin:0 auto;
    border-radius:8%;
    background-color: #B5DDFF;
}


/*COMMON CLASSES*/

h1{
    font-weight: bold;

    font-family:'Raleway', sans-serif;;
    text-align:left;
    width:100%;
    font-size:1.2rem;
    color:#0084FD;
    margin-bottom:2rem;
}

h2{
    font-size:1.4rem;
    color:#0084FD;
    margin-bottom:2rem;
    font-weight: bold;
}


.flex{
    display:flex;
}
.flex-space-between{
    justify-content: space-between;
}
.flex-column{
    flex-direction:column;
}


.margin-top{
    margin-top:1.5rem;
}
.margin-bottom{
    margin-bottom:1rem;
}

img{
    object-fit: cover;
    width:100%;
}

/*this is the img of the first section( the biggest one)*/
.immagine img{
    display:block;
    width:18rem;
    align-items:center;
}

/**/

.main-uno p{
    line-height:1.5rem;
    color:rgba(0, 0, 0, 0.705);
    font-size:0.75rem;
    margin-bottom:2rem;
    font-family: 'Raleway', sans-serif;
}

.paragrafo-sezione-uno{
    padding-right:3rem;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

/*PULSANTE APPSTORE E PULSANTE MORE, CLASSE GENERICA DI BUTTON PER LE CARATTERISTICHE IN COMUNE*/
.button{
    color:white;
    padding: 0.80rem;
    padding-left:5rem;
    padding-right:5rem;
    margin:0 auto;
    border-radius:20px;
    font-family: 'Raleway', sans-serif;
    font-family: 'PT Sans', sans-serif;

}
.button-more{
    background-color: #9792E4;
    align-items: left;
    text-align:left;
    justify-content: left;
    margin-left:0; 
}
.button-appstore{
    background-color: rgb(0, 55, 255);
    align-items: center;

}
/**/

.fa-file-code
{
    font-size:5rem;
}
.fa-bullhorn{
    font-size:5rem;
}
.fa-laptop-code{
    font-size:5rem;
}
.fa-compass-drafting{
    font-size:5rem;
}




/*MAIN DUE*/

/*section one*/

.main-due .container{
    width:80%;
    margin:0 auto;
    border-radius:12%;
    margin-bottom:2rem;
}



.section-one,
.section-four{
    background-color: #9792E4;
    color:white;
}

.section-one .container{
    text-align:left;
}
/*PARAGRAFI IN COMUNE*/
p{
    line-height:1.5rem;
    font-size:0.75rem;
    margin-bottom:2rem;
    font-family: 'Raleway', sans-serif;
}

.section-one h3{
    font-size:1.7rem;
    text-align:left;
    width:100%;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.section-one p{
    padding-right:4rem;
    text-align: left;
    color:white;
    font-family: 'Raleway', sans-serif;
}


/*section two*/
.section-two{
    background-color: #9792E4;
    text-align:center;
}
.section-two .container{
    background-color: white;
}

.border-radius img{
    width:12rem;
    height:12rem;
    border-radius:50%;
    margin-bottom:0.60rem;
}

.section-three{
    background-color: white;
    margin:0 auto;
    margin-top:0.50rem;
    font-family: 'PT Sans', sans-serif;
}
.section-three p{

    font-size:1rem;
    line-height: 2rem;
}

.section-three .container{
    background-color: #9792E4;
    color:white;
    margin-top:3rem;
    margin:0 auto;
    margin-bottom:3rem;
}



.container-white{

    background-color: white;
    width:50%;
    margin:0 auto;
    border-radius:12%;
    margin-bottom:2rem;
    margin-top:2rem;
    text-align:center;
}

#testimonial{
    padding-top:1rem;
    font-size:0.95rem;
    font-family: 'Raleway', sans-serif;
}

.container-white h2{
    color:#9792E4;
    line-height:2rem;
    font-size:1.7rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.virgolette{
    font-size:3rem;
    font-family: 'PT Sans', sans-serif;
    position:relative;
    top:1.10rem;
    right:0.30rem;
}

.second-container-white{
    background-color: white;
    width:50%;
    margin:0 auto;
    border-radius:12%;
    margin-bottom:2rem;
    margin-top:2rem;
    text-align:left;
    margin-bottom:1.5rem;
}

.section-four p{
    color:blacK;

}
.section-four{
    font-family: 'Raleway', sans-serif;
}

.section-four h1{
    color:#9792E4;
    font-size:3rem;

}
.section-four h2{
    color:#9792E4;
    font-size:1.4rem;
    width:100%;
    justify-self: left;

}

.section-four .container{
    padding:2.4rem;
}

.section-five{
    text-align: left;
}
.section-five p{
    text-align: left;
    color:black;
    font-family: 'PT Sans', sans-serif;
    font-size:1rem;
    line-height:3rem;

}
.section-five h1{
    color:#9792E4;
    font-size:2.5rem;
}
.immagine-about{
    display:block;
    width:10rem;
    height:10rem;
    border-radius:50%;
    margin-bottom:0.60rem;
    position:relative;
}
.section-five img{
    border-radius: 50%;
    text-align:left;
    justify-content: left;
    
}
.section-five .virgolette{
    color: #9792E4;
    font-size:5rem;
    position:absolute;
    top:0;
    right:0;

}
.section-five .viola{
    color:#9792E4;
    font-size:1.5rem;
    font-weight: bold;
}
