*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* in questo primo main ho dato il background color al main invece che a section, dato che il background era
bianco per tutte le sezioni, nel prossimo invece darò il background color alle sezioni dato che varia fra bianco e viola
non troverò quindi il background color nel main .main-due*/

.main-uno{
    background-color:white;
}


header{
    background-color:#0084FD;
    margin-bottom:2.5rem;
}

nav{
    margin:1rem 2rem;
}

/*This below are the logo and the favicon of the nav header*/

.logo{
    width:5rem;
}

.fa-bars{
    font-size:1.5rem;
}


/*This container and this section have the same name for all the files*/
.container{
    padding:3.5rem;
    padding-bottom:0;
    align-items: center;
    text-align:center;
}

.section{
    width:80%;
    margin:0 auto;
    border-radius:8%;
    background-color: #B5DDFF;
}


/*COMMON CLASSES*/

h1{
    font-weight: bold;

    font-family:'Raleway', sans-serif;
    text-align:left;
    width:100%;
    font-size:1.2rem;
    color:#0084FD;
    margin-bottom:2rem;
}

h2{
    font-size:1.4rem;
    color:#0084FD;
    margin-bottom:2rem;
    font-weight: bold;
}


.flex{
    display:flex;
}
.flex-space-between{
    justify-content: space-between;
}
.flex-column{
    flex-direction:column;
}


.margin-top{
    margin-top:1.5rem;
}
.margin-bottom{
    margin-bottom:1rem;
}

img{
    object-fit: cover;
    width:100%;
}

/*this is the img of the first section( the biggest one)*/
.immagine img{
    display:block;
    width:18rem;
    align-items:center;
}

/**/

.main-uno p{
    line-height:1.5rem;
    color:rgba(0, 0, 0, 0.705);
    font-size:0.75rem;
    margin-bottom:2rem;
    font-family: 'Raleway', sans-serif;
}

.paragrafo-sezione-uno{
    padding-right:3rem;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

/*PULSANTE APPSTORE E PULSANTE MORE, CLASSE GENERICA DI BUTTON PER LE CARATTERISTICHE IN COMUNE*/
.button{
    color:white;
    text-align: center;
    padding: 0.80rem;
    padding-left:5rem;
    padding-right:5rem;
    margin:0 auto;
    border-radius:20px;
    font-family: 'PT Sans', sans-serif;

}
.button-get-started{
    background-color: white;
    color:#9792E4;

}
.button-findme{
    text-align: center;
    background-color: #9792E4;
    width:20rem;
    padding:0.30rem;

}
.button-more{
    text-align: center;
    background-color: #9792E4;
}

.button-appstore{
    background-color: rgb(0, 55, 255);
    align-items: center;
}

.flex-column-align{
    flex-direction:column;
    align-items: flex-start;
}
/**/

.fa-file-code
{
    font-size:5rem;
}
.fa-bullhorn{
    font-size:5rem;
}
.fa-laptop-code{
    font-size:5rem;
}
.fa-compass-drafting{
    font-size:5rem;
}




/*MAIN DUE*/

/*section one*/

.main-due .container{
    width:80%;
    margin:0 auto;
    border-radius:12%;
    margin-bottom:2rem;
}



.section-one,
.section-four{
    background-color: #9792E4;
    color:white;
}

.section-one .container{
    text-align:left;
}
/*PARAGRAFI IN COMUNE*/
p{
    line-height:1.5rem;
    font-size:0.75rem;
    margin-bottom:2rem;
    font-family: 'Raleway', sans-serif;
}

.section-one h3{
    font-size:1.7rem;
    text-align:left;
    width:100%;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.section-one p{
    padding-right:4rem;
    text-align: left;
    color:white;
    font-family: 'Raleway', sans-serif;
}


/*section two*/
.section-two{
    background-color: #9792E4;
    text-align:center;
}
.section-two .container{
    background-color: white;
}

.border-radius img{
    width:12rem;
    height:12rem;
    border-radius:50%;
    margin-bottom:0.60rem;
}

.section-three{
    background-color: white;
    margin:0 auto;
    margin-top:0.50rem;
    font-family: 'PT Sans', sans-serif;
}
.section-three p{

    font-size:1rem;
    line-height: 2rem;
}

.section-three .container{
    background-color: #9792E4;
    color:white;
    margin-top:3rem;
    margin:0 auto;
    margin-bottom:3rem;
}


/*SECTION THREE*/

.container-white{

    background-color: white;
    width:50%;
    margin:0 auto;
    border-radius:12%;
    margin-bottom:2rem;
    margin-top:2rem;
    text-align:center;
}

#testimonial{
    padding-top:1rem;
    font-size:0.95rem;
    font-family: 'Raleway', sans-serif;
}

.container-white h2{
    color:#9792E4;
    line-height:2rem;
    font-size:1.7rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.virgolette{
    font-size:3rem;
    font-family: 'PT Sans', sans-serif;
    position:relative;
    top:1.10rem;
    right:0.30rem;
}

.second-container-white{
    background-color: white;
    width:50%;
    margin:0 auto;
    border-radius:12%;
    margin-bottom:2rem;
    margin-top:2rem;
    text-align:left;
    margin-bottom:1.5rem;
}

.section-four p{
    color:blacK;

}
.section-four{
    font-family: 'Raleway', sans-serif;
}

.section-four h1{
    color:#9792E4;
    font-size:3rem;

}
.section-four h2{
    color:white;
    font-size:1.5rem;
    width:100%;
    justify-self: left;

}

.section-four .container{
    padding:2.4rem;
}



/*SECTION FIVE*/


.section-five{
    text-align: left;
    font-family: 'PT Sans', sans-serif;
}
.section-five p{
    text-align: left;
    color:black;
    font-size:1rem;
    line-height:3rem;

}
.section-five h1{
    color:#9792E4;
    font-size:2.5rem;
}
.immagine-about{
    display:flex;
    align-items: start;
    text-align: left;
    display:block;
    width:10rem;
    height:10rem;
    border-radius:50%;
    margin-bottom:0.60rem;
    position:relative;
}
.section-five img{
    border-radius: 50%;
    text-align:left;
    align-items:flex-start;
}
.section-five .virgolette{
    position:absolute;
    bottom:90%;
    top:10%;
    left:80%;

    color: #9792E4;
    font-size:3rem;
    font-family:'Raleway', sans-serif;


}
/*paragrafo viola della sezione cinque*/

.section-five #viola{
    color:#9792E4;
    font-size:1.5rem;
    font-weight: bold;
    line-height: 1.8rem;
}


/*SECTION SETTE*/
.section-seven{
    background-color: #9792E4;
    color:white;
    font-family: 'PT Sans', sans-serif;
}
.section-seven h3{
    font-size:3rem;
    text-align: left;
    margin-bottom:2rem;
    color:rgba(255, 255, 0, 0.629);
}

.section-seven h1{
    color:white;
    text-align: center;
    font-size:0.90rem;
    color: rgba(245, 245, 245, 0.81)
}

.section-seven h2{
    text-align: left;
    color:white;   
}

/*FOOTER*/
footer{
    margin:0 auto;
    width:80%;
    text-align:center;
}
.section-seven a{
    color:white;
    justify-content: space-evenly;
    text-align: center;
    margin-right:1.5rem;
}

.section-seven{
    padding-bottom:5rem;

}

/*SECTION EIGHT*/

.section-eight{
    background-color: rgba(0, 0, 0, 0.796);
    color:white;
}
.section-eight .container{
    width:90%;
}
.section-eight p{
    margin-bottom:4rem;
    text-align: center;
    font-weight: bold;
}

.section-eight a{
    color:#9792E4
}


.arrow{
    background-color: #9792E4;
    width: 3rem;
    height:3rem;
    border-radius: 50%;
    font-size: 1.2rem;
    padding:0.50rem;
    padding-top:0.75rem;
    
}



/*STARTING THE RESPONSIVE*/

/*MOBILE*/

@media screen and (max-width:480px) 
{
    div.container{
        width:100%;
    }
    
}

/*TABLET*/

@media screen and (max-width:768px)
{
    div.container{
        width:100%;
        
    }
    .flex-column{
        flex-direction: row;
        flex-wrap:wrap;
    }

    section.container-one{
        width: calc( 100% / 3 * 2 - 2rem);
        align-items:flex-start;
        margin:1rem;
    }

    section.container-two{
        width: calc(100% / 3 - 2rem);
        margin:1rem;
    }

    .fa-solid{
        margin:0 auto;
    }
    .section.container-three,
    .section.container-four,
    .section.container-five{

        width: calc(100% / 3 - 2rem);
        margin:1rem;

    }
    .button-appstore{
        margin:0;
    }

    /* .main-due .section-one*/

    .section-one .immagine{
        margin:0 auto;
    }
    .section-one img{
        height:35rem;
        width:35rem;
    }
    .section-one h3{
        font-size: 3rem;
    }

    /*sezione due*/

    .section-two .immagine{
        margin:0 auto;
    }
    .section-two img{
        height:25rem;
        width:25rem;
        margin-bottom:1rem;
    }
    .section-two h3{
        margin:0 auto;
        margin-bottom:1rem;
    }

    .section-two .arrow{
        margin:0 auto;
        margin-bottom:1rem;
    }

    /*sezione tre*/
    .section .section-three{
        width: 100%;
        margin:0;
    }
    .section-three .container{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        padding:0.70rem;
        border-radius:25px;
    }
    .section-three .container-white{
        justify-content: center;
        margin:0;
        width:100%;
    }
    .section-three #testimonial{
        text-align: center;
    }


    .section-three .immagine{
        width: calc(100% / 3.5);
        margin-right:3.5rem;
        
    }

    .section-three p{
        width: calc(100% / 3 * 2 - 3.5rem);
        font-size:0.85rem;
        line-height:1.2rem;
        text-align:center;
    }
    .container .testimonial{
        font-weight: bold;
        position:relative;
        left:14rem;
        bottom:3.5rem;
        text-align:left;
    }
/*SECTION FOUR*/

.section-four div.second-container-white{
    width: 40%;
    margin:2rem;
    float:left;
}

.section-four h2{
    text-align:center;
}
.section-four .titolo-section-four{
    margin-top:2.2rem;
}

/*SECTION FIVE*/
.float{
    padding:3rem;
    width:49%;
}

/*SECTION SEVEN*/ 

.section-five{
    display:flex;
    flex-direction:row;
    margin-top:3rem;
}

.section-seven{
    width:100%;
}
.section-seven .flex-column{
    display:flex;
    flex-direction:column;
}
.section-seven.footer{
    margin:0 auto;
    width: 50%;
    text-align: center;
    
}

}



/*DESKTOP*/

@media screen and (min-width:1160px)
{   



    main.main-uno{
        margin:20%;
        margin-top:3%;
        margin-bottom:5%;
    
    }
    main.main-due .section{
        margin:20%;
    
    }

    div.container{
        width:100%;
        
    }
    .flex-column{
        flex-direction: row;
        flex-wrap:wrap;
    }

    section.container-one{
        width: calc( 100% / 3 * 2 - 2rem);
        align-items:flex-start;
        margin:1rem;
    }

    section.container-two{
        width: calc(100% / 3 - 2rem);
        margin:1rem;
    }

    .fa-solid{
        margin:0 auto;
    }
    .section.container-three,
    .section.container-four,
    .section.container-five{

        width: calc(100% / 3 - 2rem);
        margin:1rem;

    }
    .button-appstore{
        margin:0;
    }

    /* .main-due .section-one*/

    .section-one .immagine{
        margin:0 auto;
    }
    .section-one img{
        height:35rem;
        width:35rem;
    }
    .section-one h3{
        font-size: 3rem;
    }

    /*sezione due*/

    .section-two .immagine{
        margin:0 auto;
    }
    .section-two img{
        height:25rem;
        width:25rem;
        margin-bottom:1rem;
    }
    .section-two h3{
        margin:0 auto;
        margin-bottom:1rem;
    }

    .section-two .arrow{
        margin:0 auto;
        margin-bottom:1rem;
    }

    /*sezione tre*/
    .section .section-three{
        width: 100%;
        margin:0;
    }
    .section-three .container{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        padding:0.70rem;
        border-radius:25px;
    }
    .section-three .container-white{
        justify-content: center;
        margin:0;
        width:100%;
    }
    .section-three #testimonial{
        text-align: center;
    }


    .section-three .immagine{
        width: calc(100% / 3.5);
        margin-right:3.5rem;
        
    }

    .section-three p{
        width: calc(100% / 3 * 2 - 3.5rem);
        font-size:0.85rem;
        line-height:1.2rem;
        text-align:center;
    }
    .container .testimonial{
        font-weight: bold;
        position:relative;
        left:14rem;
        bottom:3.5rem;
        text-align:left;
    }
/*SECTION FOUR*/

.section-four div.second-container-white{
    width: 40%;
    margin:2rem;
    float:left;
}

.section-four h2{
    text-align:center;
}
.section-four .titolo-section-four{
    margin-top:2.2rem;
}

/*SECTION FIVE*/
.float{
    padding:3rem;
    width:49%;
}

/*SECTION SEVEN*/ 

.section-five{
    display:flex;
    flex-direction:row;
    margin-top:3rem;
}

.section-seven{
    width:100%;
}
.section-seven .flex-column{
    display:flex;
    flex-direction:column;
}
.section-seven.footer{
    margin:0 auto;
    width: 50%;
    text-align: center;
    
}
}

